.HeroContainer {
  grid-area: HeroContainer;
  display: grid;
  grid-template-areas: ". Hero Hero Hero .";
  grid-template-columns: 1fr 2fr 2fr 2fr 1fr;
  height: 500px;
  width: 100%;
  background: linear-gradient(
      180deg,
      rgba(248, 250, 252, 0) 83.33%,
      #fcfcfc 100%
    ),
    linear-gradient(164deg, #e9ecf2 24.46%, #f8fafc 74.08%);
}

#Hero {
  grid-area: Hero;
  /* background-color: magenta; */
  display: flex;
  justify-content: center;
  align-items: center;
}
