.HeroContainer {
  grid-area: HeroContainer;
  display: grid;
  grid-template-areas: ". Hero Hero Hero .";
  grid-template-columns: 1fr 2fr 2fr 2fr 1fr;
  height: 500px;
  width: 100%;
  background: linear-gradient(
      180deg,
      rgba(248, 250, 252, 0) 83.33%,
      #fcfcfc 100%
    ),
    linear-gradient(164deg, #e9ecf2 24.46%, #f8fafc 74.08%);
}

#Hero {
  grid-area: Hero;
  display: flex;
  justify-content: center;
  align-items: center;
}

.HeroText {
  width: 50%;
}

.HeroText h1 {
  font-size: 2rem;
  letter-spacing: 7px;
  margin-bottom: 1rem;
}

.HeroText h1 span {
  font-weight: 550;
}

.HeroText button {
  margin-top: 2rem;
  font-size: 1rem;
  font-family: LeagueSpartan;
  padding: calc(1rem + 2px) 2rem 1rem 2rem;
  border: none;
  border-radius: 0.25rem;
  background-color: #d5dee1;
  filter: drop-shadow(0px 5px 10px #6f8eac35);
  cursor: pointer;
}

.HeroVisual {
  width: 50%;
  /* background-color: green; */
  display: flex;
  justify-content: flex-end;
  align-items: center;
  display: none;
}
.HeroVisual img {
  max-width: 70%;
  /* max-height: 50%; */
  border-radius: 6rem;
  filter: drop-shadow(0px 15px 25px #6f8eac5f);
}

@media (max-width: 800px) {
  .HeroContainer {
    grid-template-areas: "Hero";
    grid-template-columns: 1fr;
    height: unset;
  }

  #Hero {
    padding: 8rem 1rem;
  }

  .HeroText {
    width: 100%;
  }
}
