.App {
  position: relative;

  min-height: 100vh;
  width: 100vw;
  background-color: #fcfcfc;

  font-family: LeagueSpartan;
  font-weight: 300;
}

/**************************************************  */
.BodyContainer {
  display: grid;
  grid-template-areas:
    "HeroContainer"
    "AssessmentsContainer"
    "ResultsContainer";
}

.BodyContainer .AssessmentsContainer {
  grid-area: AssessmentsContainer;
  display: grid;
  grid-template-columns: 1fr 2fr 2fr 2fr 1fr;
  grid-template-areas: ". Assessments Assessments Assessments .";
  background-color: red;
}

.AssessmentsContainer .Assessments {
  grid-area: Assessments;
  height: 50vh;
  background-color: pink;
}

.BodyContainer .ResultsContainer {
  grid-area: ResultsContainer;
  display: grid;
  grid-template-columns: 1fr 2fr 2fr 2fr 1fr;
  grid-template-areas: ". Results Results Results .";
  background-color: purple;
}

.ResultsContainer .Results {
  grid-area: Results;
  height: 50vh;

  background-color: fuchsia;
}

/**************************************************  */
.App #Footer {
  height: 200px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
