.App {
  position: relative;

  min-height: 100vh;
  width: 100vw;
  color: #e3e3e3;
  background-color: #fcfcfc;

  font-family: LeagueSpartan;
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.3;
}

.GridContainer {
  display: grid;
  grid-template-columns: 1fr 2fr 2fr 2fr 1fr;
}

.GridLayout {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 1rem;
  max-width: 1200px;
  width: 100%;
}

.SectionContainer {
  display: flex;
  justify-content: center;
  padding: 2rem;
}

.SectionText {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}

.SectionText h3 {
  font-size: 1.5rem;
  letter-spacing: 5px;
}

.SectionText h3 span {
  font-weight: 550;
}

/**************************************************  */
.App #Footer {
  height: 200px;
}

@media (max-width: 800px) {
  .GridContainer {
    padding: 0rem 1rem;
    grid-template-columns: 1fr;
  }

  /*****************************************  */

  .HomeContainer .StoriesContainer {
    grid-template-areas: "StoryModes";
  }

  .StoriesContainer .StoryModes {
    padding: 3rem 0rem;
    height: unset;
    width: calc(100vw - 2rem);
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  .StoryModes .Carousel {
    display: flex;
    flex-direction: row;
    width: calc(100vw - 1rem);
    margin-left: -1rem;
    overflow-x: scroll;
    -webkit-mask-image: unset;
    mask-image: unset;
  }

  /*****************************************  */

  .HomeContainer .ResultsContainer {
    grid-template-areas: "Results";
  }

  .ResultsContainer .Results {
    padding: 3rem 0rem;
  }

  .ResultEntry {
    gap: 0rem;
  }

  .ResultEntryName {
    border-radius: 0.5rem 0 0 0.5rem;
  }

  .ResultEntry button {
    border-radius: 0 0.5rem 0.5rem 0;
  }
}
