.App {
  position: relative;

  grid-template-areas:
    "Hero Hero Hero Hero Hero"
    ". PageContent PageContent PageContent ."
    "Footer Footer Footer Footer Footer";
  min-height: 100vh;
  width: 100vw;
  background-color: red;

  font-family: LeagueSpartan;
  /* font-family: Southpaw; */
  font-weight: 300;
}

.GridLayout {
  display: grid;
  grid-template-columns: 1fr 2fr 2fr 2fr 1fr;
  gap: 1rem;
}

.App .HeroSection {
  grid-area: Hero;
}

.App .PageContent {
  grid-area: PageContent;
  background-color: aqua;
  height: 50vh;
}

.App #Footer {
  grid-area: Footer;
  background-color: blue;
  height: 200px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
